section {
    display: block;
    justify-self: center;
}

img {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 300px;

    scale: 100%;
    height: 300px;
    border-radius: 50%;

    border: solid;

    border-color: white;
    border-width: 5px;

    justify-self: center;
}


.title-text {
    justify-self: center;
}

.body-text {
    max-width: 850px;
}