body {
    display: block;
    align-self: center;
}


img {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0 auto;
    max-width: 300px;

    scale: 100%;
    height: 300px;
    border-radius: 50%;

    border: solid;

    border-color: white;
    border-width: 5px;
}


.title-text {
    text-align: center;
}

.body-text {
    max-width: 850px;
}