/* Global Styles */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;

    color: white;
    
    background-color: rgb(33, 33, 33);
    transition: 500ms;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: row;
}

img {
    max-width: 400px;
}



/* Navigation */
.nav-box {
    position: sticky;
    top: 0;

    background-color: rgb(79, 79, 79);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.nav-name {
    background: none;

    margin: 0px;
    padding: 10px;

    font-size: x-large;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

.nav-button-box {
    display: flex;
    background: none;
    
}

.nav-button, .nav-selected {
    background: none;
    padding: 10px;
    align-content: center;

    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    user-select: none;

    transition: background-color color 300ms;
}

.nav-button:hover, .nav-selected {
    background-color: white;
    text-shadow: 1px 1px 1px white;
    color: black;
}

.nav-button:active {
    opacity: 60%;
}

/* Page */

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;

    width: 90%;
}

/* Bottom */

