/* Global Styles */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

    color: white;
    
    background-color: rgb(33, 33, 33);
    transition: 500ms;
}

body {
    margin: 0;
    margin-top: 75px;
    margin-bottom: 75px;
    padding: 0;
}

main {
    justify-content: center;
    justify-self: center;

    width: 90%;
    margin-top: 2.5vh;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


div {
    background: none;
}

p {
    padding: 0;
    margin: 0;
    background: none;
}

img {
    max-width: 400px;
    border-radius: 10%;
}


/* Navigation */
.nav-box {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    height: 50px;

    background-color: rgb(0, 0, 0);

    
    justify-content: space-between;
    align-items: stretch;
}

.nav-name {
    background: none;

    margin: 0px;
    margin-left: 10px;

    font-size: 30px;
    align-self: center;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
}

.nav-button-box {
    display: flex;
    background: none;
    
}

.nav-button, .nav-selected {
    background: none;
    
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;

    color: white;
    font-weight: bolder;
    font-size: x-large;

    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    user-select: none;

    transition: background-color color 300ms;
}

.nav-button:hover, .nav-selected {
    background-color: white;
    text-shadow: 1px 1px 1px white;
    color: black;
}

.nav-button:active {
    opacity: 60%;
}

/* Default Page Styling */

.title-text{
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-size: xx-large;
    font-weight: bolder;

    text-shadow: 4px 4px 8px black;
}

.body-text {
    display: block;
    margin: 0;
    margin-top: 15px;
    padding: 0;

    width: 100%;
    max-width: 1000px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
    height: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
}

.footer-text {
    align-self: center;

    font-size: 16px;
}